
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    
}

body{
    font-family: 'Mulish', sans-serif;
    min-height: 100vh;
    background: #fff0f3;
}

.container{
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

nav{
    color: #f8edeb ;
    background: #c9184a;
    padding: 1rem 0;
}

section.input{
    padding: 100px;
}

h2{
    text-align: center;
    font-size: 36px;
}

.form_wrap{
    display: flex;
    justify-content: center;
}

.input_wrap{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 20px;
}

input{
    border: none;
    padding: 10px;
    font-size: 16px;
    min-width: 400px;
    outline: none;
}

button{
    background:#c9184a;
    color: #f8edeb;
    height: 100%;
    font-size: 16px;
    margin-left: 20px;
    padding: 0 20px;
    cursor: pointer;
}

section.data{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.loading{
    display: none;
}

section.data p.def{
    font-size: 20px;
    /* color: #f8edeb; */
    line-height: 1.6;
}

.suggested{
    background: #ffb3c1;
    padding: 2px 10px;
    color: #590d22;
    border-radius: 4px;
    margin-right: 10px;
    margin-top: 5px;
    display: inline-block;

}

.audio {
    margin-top: 20px;
}

@media screen  and (max-width:549px ) {

    .font{
        font-size: 18px;
    }
    .mob{
       min-width: 350px;
        display:flex;
        justify-content: center;
    }
    .btn{
        margin-top: 20px;
        align-items: center;
        padding: 10px 10px;
        border-radius: 8px;
        border: none;
    }
    .btn2{
        display: none;
    }
}
@media screen and (min-width: 550px) {
   .btn {
    display: none;
   }
  }
